/* underline class  */
.underlineStyle {
  position: relative;
  padding-bottom: 0.5rem;
}
.underlineStyle::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 3px;
  background: rgb(251, 189, 35);
  border-radius: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.fontRailway {
  font-family: "Raleway", sans-serif;
}
